table {
    margin: 10px;
}

th {
    background-color: #ccc;
}

table, td, th {
    border: 1px solid #333;
    border-collapse: collapse;
}

tr {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #ccc;
}

td {
    padding: 8px;
}